* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f4f4;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.left-box {
    width: 50%;
    background: #C09C1B;
    color: white;
    padding: 50px 40px;
}

.left-box h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.left-box .hello {
    font-size: 22px;
    opacity: 0.9;
}

.left-box h2 {
    font-size: 36px;
    margin: 10px 0;
}

.left-box .desc {
    margin-top: 20px;
    font-size: 15px;
    opacity: 0.95;
    line-height: 1.5;
}

/* RIGHT SIDE LOGIN FORM */
.login-box {
    width: 50%;
    padding: 50px 40px;
}

.form-title {
    font-size: 26px;
    margin-bottom: 20px;
    color: #1e3a8a;
}

.login-box label {
    font-weight: 600;
    margin-top: 15px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-top: 7px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 15px;
}

.signin-btn {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background: #1e40af;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.signin-btn:hover {
    background: #3b82f6;
}

.forgot {
    display: block;
    text-align: right;
    margin: 12px 0;
    font-size: 14px;
    color: #1e40af;
}

.social-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.google,
.facebook {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #e5e7eb;
    font-size: 15px;
}

.signup-btn {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: #C09C1B;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.signup-btn:hover {
    background: #a88914;
}
